.emailInput{
    padding-top: 60%;
}

.senhaInput{
    padding-top: 4%;
    padding-bottom: 4%;
}

ion-content{
    --ion-background-color: linear-gradient(rgb(79, 59, 255), rgb(20, 20, 13));
}

ion-row{
    padding:8%;
}
    